#llm-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 100px;
    margin-bottom: 15px;
}

#llm-col {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: inherit;
}

#llm-col button {
    height: 100px;
    box-sizing: border-box;
    padding: 1em;

}

.llm-button-loader {
    height: 90%;
}

.dont-show {
    display: none;
}